<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<div class="container" *ngIf="list">
  <form #listForm = "ngForm">
    <div class="form-group">
      <label for="listName">List name:</label>
      <input class="form-control" name='listName' required id="listName"
    [(ngModel)]="list.name" #listName="ngModel" (keyup)="checkExists(listName.value)"/>
    </div>
    <div [hidden]="listName.valid || listName.pristine" class="alert alert-danger">
      Name is required
    </div>
    <div [hidden]="listName.pristine || !exists" class="alert alert-danger">
      A list with the same name already exists
    </div>

    <div class="form-group">
      <label for="dueDate">Due date:</label>
      <date-picker name="dueDate" mode="datetime" [(ngModel)]="list.dueDate"></date-picker>
    </div>
    <div class="form-group">
      <label for="priority">Priority:</label>
      <select class="form-control" id='priority' name='priority'
      required [(ngModel)]="list.priority">
        <option *ngFor="let pr of priorities" [value]="pr">{{pr}}</option>
    </select>
    </div>

    <div *ngIf="tasks.length > 0">
    <label>Items:</label>
    <div *ngFor="let t of tasks; let i=index" >
      <div class="form-group">
         <span class="items">{{t.name}}</span>
         <button class="delete"
               (click)="delete(t); $event.stopPropagation()">x
         </button>
      </div>
    </div>
  </div>

    <div class="form-group">
      <div><label for="name">Add an item:</label></div>
      <input class="form-control2" name='name' required id="name"
    [(ngModel)]="task.name" #name="ngModel"/>
    <button (click) ="addTask()">  +  </button>
    <div [hidden]="name.valid || name.pristine"
       class="alert alert-danger">
    Name is required
    </div>
    </div>

    <div class="form-group">
      <button  *ngIf="isNew" (click) ="createNew()">
          Add
      </button>
      <button *ngIf="!isNew" (click)="save()" >Save</button>
      <button (click)="listForm.form.reset()">Reset</button>
      <button (click)="goBack()">Back</button>
    </div>

</form>
</div>
